header {
  height: 400px;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  background-color: cadetblue;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

@media only screen and (min-width: 1024px) {
  .responsive {
    display: flex;
    margin:85px;
  }
}