header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
  margin: 0 1.5em;
  padding-top: 29px;
  background-color:lightpink;
  background-blend-mode: hue;
  background-image: url("https://www.transparenttextures.com/patterns/transparent-square-tiles.png") ;
}
