nav {
  top: 0;
  background-color: #055659;
  height: 120px;
  color: #FFFF;
  font-family: 'Bungee';
  padding: 1.5em;
  position: sticky;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes glowing {
  0% { text-shadow: 0 0 -10px yellow; }
  40% { text-shadow: 0 0 25px yellow; }
  60% { text-shadow: 0 0 25px yellow; }
  100% { text-shadow: 0 0 -10px yellow; }
}

.nav-button a {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: glowing 3100ms infinite;
}

div.btn-animation {
  padding: 5px;
  text-align: center;
  color: sandybrown;
  position: relative;
  animation: glowing 3000ms infinite;
}



