.new-tweet {width: 100%};

.new-tweet {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}

section.new-tweet {
  width: 100%;
  padding-top: 13px;
  padding-left: 50px;
  padding-right: 50px;
}

textarea {
  border: none;
  border-bottom: 0.15em solid #545149;
  background: #e1e7f19f;
  width: 100%;
  height: 100px;
}

form button {
  background-color: #055659;
  color: white;
  text-transform: uppercase;
  font-family: "Bungee";
}

form div {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
}

.prepend-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  font-size: 16px;
  font-weight: 600;
}

.tweet-container {
  border: 0.2em solid #545149;
  margin-top: 0.625rem;
  margin-bottom: 1.625rem;
  margin-right: 20px;
  padding: 0.625rem;
  width: 100%;
}

.tweet-container:hover {
  color:#4056A1;
  box-shadow: inset 0px 0px 16px 1px rgb(57 79 202 / 31%)
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: initial;
  font-weight:bold;
  background-color: transparent;
}

.tweet-header div {
  display: flex;
  align-items: center;
}

.tweet-header .avatar {
  width: 2.5em;
  height: 45%;
}

.tweet-container .tweet-body{
  width: 100%;
  border-bottom: 3px solid #545149;
  word-wrap: break-word;
  width: 100%;
}

.tweet-container .tweet-body p {
  color: #545149;
  font-size: 16px;
  /* font-weight: bold; */
  padding: 1.25rem;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.tweet-footer {
  padding-top: 5px;
  display: flow-root;
  justify-content: space-between;
}

.tweet-footer .tweet-icons:hover {
  padding: 5px;
  display: flow-root;
  justify-content: space-between;
}

#flag:hover {
  cursor: pointer;
  color: sandybrown;
}

#retweet:hover {
  cursor: pointer;
  color: green;
}

#heart:hover{
  cursor:pointer;
  color:red;
}

.tweet-footer {
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.responsive {
  width: 100%;
}

#errormsg1 {
  display: none;
  color: red;
  font-size: 1.25em;
  font-weight: bold;
  font-style: italic;
}

#errormsg2 {
  display: none;
  color: red;
  font-size: 1.25em;
  font-weight: bold;
  font-style: italic;
}