.new-tweet {width: 100%};

.new-tweet {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 90%;
}

section.new-tweet {
  width: 90%;
  padding-top: 18px;
  padding-bottom: 10px;
}

textarea {
  border: none;
  border-bottom: 0.2em solid #545149;
  background: #eceae6c2;
  width: 88%;
  padding-left: 3%;
  margin-left: 3%;
  height: 100px;
}

form button {
  background-color: #4056A1;
  color: white;
  text-transform: uppercase;
  font-family: "Bungee";
}

form div {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee";
  width: 90%;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 10px;
}