.new-tweet {width: 100%};

.new-tweet {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 90%;
}

section.new-tweet {
  width: 90%;
  padding-top: 18px;
  padding-bottom: 10px;
}


textarea {
  border: none;
  border-bottom: 0.2em solid #545149;
  background: #eceae6c2;
  width: 88%;
  padding-left: 3%;
  margin-left: 10px;
  height: 100px;
  
}

form button {
  background-color: #4056A1;
  color: white;
  text-transform: uppercase;
  font-family: 'Bungee';
}

form div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee';
  width: 90%;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 10px;
}

.numLimitRed {
  color: red;
  font-family: 'Bungee';
}

.prepend-tweet {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.tweet-container {
  border: 0.2em solid #545149;
  margin-top: 0.625rem;
  margin-bottom: 1.625rem;
  margin-right: 20px;
  padding: 0.625rem;
  width: 90%;
}

.tweet-container:hover {
  color:#4056A1;
  box-shadow: inset 0px 0px 16px 1px rgb(57 79 202 / 31%)
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: initial;
  font-weight: bold;
  background-color: transparent;
}

.tweet-header div {
  display: flex;
  align-items: center;
}

.tweet-header .avatar {
  width: 4em;
  height: 50%;
}

.tweet-container .tweet-body{
  width: 100%;
  border-bottom: 3px solid #545149;
  word-wrap: break-word;
  width: 100%;
}

.tweet-container .tweet-body p {
  color: #545149;
  font-size: 25px;
  font-weight: bold;
  padding: 1.25rem;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.tweet-footer .tweet-icons {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
}

.tweet-footer .tweet-icons:hover {
  padding-top: 27px;
}

.tweet-footer {
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

#errormsg1 {
  display: none;
  border: 0.275em solid red;
  color: #54494e;
  font-size: .90em;
  font-weight: bold;
  font-style: italic;
}

#errormsg2 {
  display: none;
  border: 0.275em solid red;
  color: #54494e;
  font-size: .90em;
  font-weight: bold;
  font-style: italic;
}

